body {
    margin: 0;
    font-family: "Montserrat", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9f9f9 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #ad9c94;
    color: white;
}

#dropdown-basic {
    background-color: #ad9c94;
    border-color: white;
}

.nav-item > a {
    background-color: #f9f9f9 !important;
    color: black !important;
}

.nav-link {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 1px;
}

.nav-link.active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
